body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header{
    display: flex; /*par default sera aligné horizentalement*/
    justify-content: space-between;
    align-items: center;  
}

.logo{
    display: flex;
    position: relative; /*le repère*/
}
.logo-title{
    font-family: "segoe Script", sans-serif; /*(la police , la police alternative si on a pas acces a la premiere police par ex si on a pas de cnx)*/
    color: #518FD8;
    font-size: 20px;
    position: absolute;
    left: 1.25rem;
    top: 0.5rem;
    width: max-content; /*mat7bes taysali contenu matb9ash gher f le cadre dial parent li huwa div parent logo*/

}
span{
    color: #F9F9F9 ;
}

.search-bar{
    display: flex;
}
#search1{
    width: 40rem;
    height: 48px;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border-width: 1px;
    border-color: #518FD8;
}

.search-button{
    display: flex;
    position: relative;
}
.search-icon{
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
}
.buttons{
    display: flex;
    gap: 1rem;
}
.cart{
    position: relative;
}
.cart-icon{
    position: absolute;
    top: 0.4rem;
    left: 1rem;
}
.cart-txt{
    text-align: center;
}
#Buyicon{
    top: 0rem;
    left: 0.7rem;
}

.main{
    display: flex;
    justify-content: space-between;
}

.filters{
    flex-grow: 3;
}

.banner{
    display: flex;
    flex-direction: column;
    flex-grow:5;
    gap: 25px;
}
.banner-img{
    width: fit-content;
    /* background-color: black; */
    position: relative;
}
#img6666{
    width: 1140px;
}
#cadreimg{
    width: 1115px;
}
.cadre{
    position: absolute;
    top: 0.6rem;
    left: 0.8rem;
}

.banner-txt{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 30px; 
    /* taille de l'ecriture  */
    position: absolute;
    left: 1.5rem;
    top: 1.7rem;
    font-weight: 300; 
    /* intensité trait de l'ecriture: degree de gras */
}

.best-selling{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.section{
    display: flex;
    gap: 20px;
}
.title-section{
    font-family: "Roboto", sans-serif;
    color: #4F4F4F;
    font-size: 20px;
}
.ligne-section{
}
#Line11{
    width: 1014px;
}

.allproducts{ 
    width: 30cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product{
    width: fit-content;
    position: relative;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.rectangle{
    position:absolute;
    right: 10px;
    left: -4px;
    top: 162px;
    width: fit-content;
}
.namemontre{
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 12px;
    top: 7px;
    font-size: 12px;
}
.prix{
    position: absolute;
    left: 12px;
    font-family: "Roboto", sans-serif;
    top: 35px;
    font-size: 12px;
    color: #4F4F4F;
}
.etoile{
    position: absolute;
    right: 35px;
    top: 5.5px;
}
button{
    font-family: "Roboto", sans-serif;
    color: #414040;
    position: absolute;
    right: 23px;
    top: 31px;
}

.two{
    display: flex;
    gap: 18px;  
    align-items: center; 
}
.Most-searched{
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: fit-content;
}
#Line22{
    width: 520px;
}
.allproducts2{
    width: 42.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner2{
    position: relative;
    background-color: red;
}
.hands{
    position: absolute;
    width: fit-content;
    width: 445px;
    top: -7.9rem;
}
#hand2222{
    width: 445px;
    top: -7.9rem;
}
